/* Tables
--------------------------------------------- */

/* table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: var(--margin-bottom);
	table-layout: fixed;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid var(--grey-primary);
}

td,
th {
	text-align: left;
	vertical-align: top;
}

td {
	border-top: 1px solid var(--grey-primary);
	padding: 10px;
}

th {
	font-weight: 600;
	padding: 0 10px 10px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

td:last-child,
th:last-child {
	padding-right: 0;
} */
/* alternative table */

table{
	display:inline-block;
	border-spacing:0;
	border-collapse:collapse;
	overflow-x:auto;
	max-width:100%;
	text-align:left;
	vertical-align:top;
	background:linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
	background-attachment:scroll, scroll;
	background-size:1px 100%, 1px 100%;
	background-repeat:no-repeat, no-repeat;
}
table caption{
	font-size:0.9em;
	background:white;
}
table td, table th{
	padding:0.35em 0.75em;
	vertical-align:top;
	font-size:0.9em;
	border:1px solid #f2f2f2;
	border-top:0;
	border-left:0;
}
table td:first-child, table th:first-child{
	padding-left:0;
	background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
	background-size:2px 100%;
	background-repeat:no-repeat;
}
table td:last-child, table th:last-child{
	padding-right:0;
	border-right:0;
	background-image:linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
	background-position:100% 0;
	background-size:2px 100%;
	background-repeat:no-repeat;
}
table td:only-child, table th:only-child{
	background-image:linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
	background-position:0 0, 100% 0;
	background-size:2px 100%, 2px 100%;
	background-repeat:no-repeat, no-repeat;
}
table th{
	line-height:1.2;
}
@media only screen and (min-width: 480px) {

	table {
		table-layout: auto;
		word-break: normal;
	}

}
